@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #25388c;
  --secondary-bg: #606165;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  @apply tracking-tight;
}

.primary-text {
  @apply text-[#25388C];
}

.secondary-text {
  @apply text-gray-500;
}

.primary-bg {
  @apply bg-[#25388C];
}

.section-heading {
  @apply text-xl font-semibold;
}

.button {
  @apply text-white primary-bg focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 h-[56px] flex items-center justify-center text-center disabled:cursor-not-allowed;
}
